.table{
	width:100%;
	max-width:100%;
	margin-bottom:1rem;
	background-color:transparent
}
.table td,.table th{
	padding:.75rem;vertical-align:top;
	border-top:1px solid #dee2e6
}
.table thead th{
	vertical-align:bottom;
	border-bottom:2px solid #dee2e6
}
.table tbody+tbody{
	border-top:2px solid #dee2e6
}

@media print{
	*,::after,::before {
		text-shadow:none!important;
		box-shadow:none!important
	}
	a:not(.btn){
		text-decoration:underline
	}
	thead{
		display:table-header-group
	}
	img,tr{
		page-break-inside:avoid
	}
	h2,h3,p{
		orphans:3;widows:3
	}
	h2,h3{
		page-break-after:avoid
	}
	.table{
		border-collapse:collapse!important
	}
	.table td,.table th{
		background-color:#fff!important
	}
}
.studies {
	font-size: 2.6rem;
}



#titulo-tabla {
    color: var(--main-color);
    font-weight: bold;
}

.studies p{
    font-size: 2.6rem;
    color: var(--main-color);
	margin-top: 5rem;
	margin-bottom: 2rem;
}

.video-responsive {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
	}
.video-responsive iframe, .video-responsive object, .video-responsive embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

@media (max-width: 526px) {
    .studies {
		font-size: 1.8rem;
	}
	.studies p{
		font-size: 1.8rem;
		color: var(--main-color);
		margin-top: 5rem;
		margin-bottom: 2rem;
	}
}
